{% extends 'base.html' %}
{% block title %}login page{% endblock %}
{% block main %}
<h2>This is a login page | Enter your credentials</h2>
{% if error %}
  {{ error }}
{% endif %}
<form action="{{url_for('login')}}" method="post">
  <legend>Enter your name and password</legend>

  <label for="name">Name</label>
  <input type="text" name="name" id="name">
<!-- required? nope :) -->
  <label for="password">Password</label>
  <input type="password" name="password" id="password">

  <input type="submit" value="log in" class="blck">
</form>
{% endblock %}